.background1{
	-fx-background-color: red;
}

.background2{
	-fx-background-color: orange;
}

.background3{
	-fx-background-color: yellow;
}

.buttons{
	-fx-background-color: #00000050;
	-fx-background-radius: 100;
}

.slides{
	-fx-background-color: white;
	-fx-border-color: #c6c4c4;
	-fx-border-width: 5;
}